.wrapper {
    padding: 1em;
}

.logos {
    border: 1px chocolate solid;
}

img {
    border: none;
    background-color: white;
    height: auto;
    width: 100px;
    padding: 1em;
}

button {
    background: white;
    border: none;
}

.mobiles,
.televisions,
.laptops {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px crimson solid;
}