.cart {
    min-height: 8vh;
    background-color: black;
    color: white;
    padding-left: 10px;
    text-align: left;
    display: inline-flex;
    min-width: 100%;
}

li {
    padding-left: 10px;
    list-style: none;
}